@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .custom-daypicker {
    --rdp-accent-color: #b773fb !important;
    --rdp-accent-background-color: #f4e9ff !important;
    --rdp-font-family: var(--font-spoqa-han-sans-neo-regular), sans-serif !important;
  }
}
